@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar-brand{
  font-size: 2rem !important;
   font-family: 'Bebas Neue', cursive;
   color: #2ecc71 !important;
}

.nav-container{
 
  margin-right: 1.5rem;
  height: 10vh;
  padding: 0 0 0 1rem;
}