@import '../../config.scss';
.offcanvas{
  background-color: $bg_grey !important;
  color: white;
}

.trade_detail_container {
  color: white;
  
  background-color: $bg_grey;
  
  border-radius: 3px;

  .form-control {
    background: $input_bg;
  }
}

.trade_market{
  margin-bottom: 1.5rem;
}

.trade_ticker{
  margin-bottom: 1.5rem;
}

.chart_patterns {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;

  .form-label{
    display: flex;
    flex-direction: row;
  }
}

.chart_indicators {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;

  .form-label{
    display: flex;
    flex-direction: row;
  }
}

.trade_targets {
  margin-bottom: 1.5rem;
    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  label {
    white-space: nowrap;
  }
}
