@import "../../config";

.journal_container{
    height: 100%;
    width: 100% !important;
    margin: 0 !important;
    padding: 1rem;

   

    .journal-container-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #718093;
        width: 100%;
        padding: .25rem;
        margin-bottom: .50rem;

        h3{
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;
            width: 100%;
    
            button{
                margin-left: auto;
            }
        }

        button{
            background: linear-gradient(to right, rgb(2, 206, 2), white);
            color: transparent;
            background-clip: text;
            border: none;

        }
    }

    .journal-form{
        padding: 1.5rem;
        background-color: $bg_grey;
        border-radius: 3px;

        .form-label{
            color: #707880;
        }
        p{
            color: #87929b;
            font-size: 1.5rem;
        }
        p span{
            font-size: 1.5rem;
            color: $emerald_green;
        }
    }

    .journal-form-header{
        button{
            height: 80%;
            padding: 0;
            border: none;
            background-color: $bg_grey;
            border-radius: 3px;
        }

        svg{
            height: 100%;
            width: 100%;
            border-radius: 0;
            color: red;
            border-radius: 3px;

        }
    }
  
}


