.journal_container{
    height: 80%;
    border: 1px solid red;
    width: 60% !important;
    margin: 0 !important;
    
    
}
.journal_container h1{
   color: white;
   border-bottom: 1px solid #718093;
}