@import "../../../config.scss";

.google-logo-img{
    height: 40px;
    width: 40px;
    border-radius: 3px;
   
}
.create_user_modal{
 
    
}
.create_user_modal .form-control{
    background-color: rgba(18, 21, 22, 0.500) !important;
    color: white;

}
.create_user_modal input::placeholder{
    color: white

}


.modal-header{
    background-color: $bg_color;

    button{
        background-color: white;
    }
}

.modal-body{
    background-color: $bg_grey;
}

.modal-footer{
    background-color: $bg_grey;
}

.create_an_account_link{
    background-color: $bg_grey;
    border: none;
    color: white;
}