@import "../../../config.scss";

.trade-card-container {
  border-bottom: 1px solid #7180937c !important;
  border-radius: 3px !important;
  background-color: black !important;

  p {
    margin: 0;
  }


  .trade-card {
    height: 2rem;
    color: black;
    padding: 0;
  }

  .trade-data {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.8rem;
    color: white;

    .popover-arrow{
      background-color: #212529 !important;
    }

    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      height: 100%;
    }

    button:focus:not(:focus-visible) {
      box-shadow: none;
    }
    .notes-button {
      height: 70%;
      width: 80%;
      padding-top: 0;
      padding-bottom: 0;
      background-color: black;
      border: none;
    }

    .wl-button-default {
      height: 70%;
      width: 80%;
      background-color: #353b48;
      padding-top: 0;
      padding-bottom: 0;
      border: 1px solid #353b48;
    }

    .wl-button-loss {
      height: 70%;
      width: 80%;
      background-color: #e84118;
      padding-top: 0;
      padding-bottom: 0;
      border: 1px solid #353b48;
    }

    .wl-button-win {
      height: 70%;
      width: 80%;
      background-color: #4cd137;
      padding-top: 0;
      padding-bottom: 0;
      border: 1px solid #353b48;
    }

    .chart-button {
      height: 70%;
      width: 80%;
      padding-top: 0;
      padding-bottom: 0;
      color: #353b48;
    }

    .chart-button:hover {
      color: white;
    }
  }
}

.win-button {
  background-color: #4cd137 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: 1px solid #353b48 !important;
}

.loss-button {
  background-color: #e84118 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: 1px solid #353b48 !important;
}

@media only screen and (max-width: 576px) {
  .trade-card-container {
    p {
      font-size: 0.5rem;
    }

    .trade-data {
      button {
        font-size: 0.5rem;
      }

      .notes-button {
        padding: 0;
      }

      .note-icon {
        height: 100%;
        width: 100%;
      }

      /*.wl-button-default {
        font-size: .5rem;    
      }

      .wl-button-loss {
        font-size: .5rem;
      }
  
      .wl-button-win {
        font-size: .5rem;
      }
  
      .chart-button {
        font-size: .5rem;
      }*/
    }
  }
}
