@import "../../../config.scss";

.trade-card {
  color: black;
  .trade-labels {
    .col {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-weight: bold;
    }
  }

  .trade-data {
    .col {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    button{
      background-color: white;
      color: black;
      border: none;
    }
  }
}

.trade-win {
  box-shadow: 0 0 8px $emerald_green !important;
  border: 1px solid $emerald_green !important;
}

.trade-loss {
  box-shadow: 0 0 8px red !important;
  border: 1px solid red !important;
}

.page-number{
  margin-right: .25rem;
  a{
    background-color: #6c757d;
    color: white;
  }
}
