.trades_container {
  height: 100%;
  width: 100% !important;
  margin: 0 !important;
  color: white;
  
  font-family: Helvetica, sans-serif;
  

  .main-headers {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: .25rem;
    margin-bottom: .50rem;

    h3{
      margin-bottom: 0;
    }
    
    p {
      font-size: 1rem;
      margin: 0 0 0 1.5rem;
      align-self: flex-end;
    }

    button {
      margin-left: auto;
    }
  }

  .trade-section{
    display: flex;
    flex-direction: column;
    height: 85%;
    background-color: #353b48 ;
  }

  .trades-headers{
    display: flex;
    border: 1px solid #353b48;
    border-radius: 3px 3px 0px 0px;
    font-weight: bold;
    background-color: #2f3542;
    color: #dcdde1;

    .col{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    p{
      margin: 0;
    }
  }
}
